services:
  app:
    build: .
    container_name: node_app_22
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - DB_HOST=db
      - DB_USER=agenuser1
      - DB_PASSWORD=secret123
      - DB_NAME=agen1
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_USER=agenuser1
      - POSTGRES_PASSWORD=secret123
      - POSTGRES_DB=agen1
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U agenuser1 -d agen1"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
